@charset "UTF-8";

.hidden 
{
    display: none;
}

body
{
    font-family: 'Poppins', sans-serif;;
}


p
{
    font-size: 16px;
    margin: 10px;
}

.logo
{
    padding: 10px;
    width: 9%;
}


.mainNavbar
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #FFFFFF;
    box-shadow: 0px 15px 30px #0000000d;
    border-radius: 14px;
    opacity: 1;
    align-content: space-around;
    margin: 40px 60px 40px 60px;
    align-items: center;
}

.mainNavbar ul li
{
    flex-wrap: nowrap;
    display: inline-flex;
    flex-wrap: nowrap;
    margin: 20px;
    padding: 10px;
}

.mainNavbar ul li a
{
    text-decoration: none;
    color: black;
    text-align: center;
}

.mainNavbar ul li a:hover
{
    font-weight: bold;
    transition: 1s;
}

#hamburgerMenu
{
    padding: 20px;
    justify-content: center;
    width: 4%;
    height: 4%;
    display: none;
}

.hero
{
    background-color: #FE5000;
    max-width: 100%;
    block-size: auto; 
}

.heroContent {
    display: flex;
    flex-direction: row;
}

.heroImg img
{
    object-fit: contain;
    max-width: 50%;
}

.ad
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 50px; 
  margin-bottom: 50px; 
}

.product img
{
    object-fit: contain;
}

.properties img
{
    object-fit: contain;
}



.mainFooter
{
    display: flex;
    flex-direction: row-reverse;
    background-color: #313131;
    max-width: 100%;
    height: 150px;
    justify-content: space-around;
    align-items: center;
}

.footerNav ul
{
    max-width: 100%;
}

.footerNav ul li 
{
    padding: 8px;
    font-size: 12px;
    text-align: right;
}


.footerNav ul li a
{
    text-decoration: none;
    color: #FFF8F3;
}

@media only screen and (max-width:448px) 
{
    .sitecontainer
    {
        max-width: 1024px;
    }

    .mainNavbar
    {
        flex-direction: column;
        position: sticky;
    }

    #hamburgerMenu
    {
        display: block;


    }

}